{% extends 'layouts/main.twig' %}

{% block content %}

    <h1 id="title">Корзина</h1>

    {% if cart is empty %}
        <p id="cartStatus">Корзина пуста</p>
    {% else %}
        <div id="cart-products" class="products">
            {% for product in cart %}
                <div class="product-item" id="{{ product.cart_id }}">
                    <h3>{{ product.product_name }}</h3>
                    <img height="100px" src="/product_images/{{ product.product_img }}"
                         alt="{{ product.product_name }}">
                    <p>Цена: <span>{{ product.product_price }}</span></p>
                    <button data-id="{{ product.cart_id }}" class="remove-btn">Убрать из корзины</button>
                </div>
            {% endfor %}
        </div>
        <forms id="order-form">
            <input id="order-name" type="text" name="name" placeholder="Ваше Имя">
            <input id="order-phone" type="tel" name="phone" placeholder="Ваш телефон">
            <button id="create-order" class="order-btn">Оформить заказ</button>
        </forms>


    {% endif %}
{% endblock %}