{% extends "layouts/main.twig" %}

{% block content %}
    <h1>Каталог</h1>
    <div class="products">
        {% for product in products %}
            <div class="product-item">
                <h3><a href="/catalog/card/?id={{ product.id }}">{{ product.name }}</a></h3>
                <img width="200px" height="170px" src="/product_images/{{ product.img }}" alt="{{ product.name }}">
                <p>Цена: <span>{{ product.price }}</span></p>
                <button data-id="{{ product.id }}" class="btn btn-success buy-btn">Купить</button>
{#                <form action="cart/add" method="post">#}
{#                    <input type="text" name="id" value="{{ product.id }}" hidden>#}
{#
{#                </form>#}
            </div>
        {% endfor %}
    </div>
{% endblock %}

