{% extends "layouts/main.twig" %}

{% block content %}
    <h1>Заказы пользователей</h1>
    <div >
        <table class="orders table">
            <tr>
                <th>Номер заказа</th>
                <th>Дата заказа</th>
                <th>Имя заказчика</th>
                <th>Телефон</th>
                <th>Статус</th>
                <th>-</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.clientName }}</td>
                <td>{{ order.clientPhone }}</td>
                <td>{{ order.status }}</td>
                <td><a href="orders/order/?id={{ order.id }}">Детали заказа</a></td>
            {% endfor %}
        </table>
    </div>
{% endblock %}

